---
import EventList from "~/components/astro/event-list.astro"
import { getConfigByLang } from "~/config"
import { getLangFromUrl } from "~/i18n/utils"
import MainLayout from "~/layouts/main.astro"
import { getEventsByLocale } from "~/utils"
import { getLanguagePaths } from "~/utils/langs"

const lang = getLangFromUrl(Astro.url)
const pageMeta = getConfigByLang(lang).pageMeta!

export function getStaticPaths() {
    return getLanguagePaths()
}

const events = await getEventsByLocale(lang)

const eventsByYear = events.reduce(
    (acc: Record<string, any[]>, event: any) => {
        const year = new Date(event.data.pubDate).getFullYear().toString()
        if (!acc[year]) {
            acc[year] = []
        }
        acc[year].push(event)
        return acc
    },
    {} as Record<string, any[]>,
)

const years = Object.keys(eventsByYear).sort((a, b) => Number(b) - Number(a))
---

<MainLayout
    title={pageMeta.events.title}
    description={pageMeta.events.description}
    ogImage={pageMeta.events.ogImage}
>
    {
        years.map((year) => (
            <div class="year-group my-8">
                <h2 class="my-4 text-2xl font-bold">{year}</h2>
                {eventsByYear[year].map((event: any) => (
                    <EventList
                        event={event}
                        lang={lang}
                        dateFormat="MM-DD"
                        dateWidth="w-20"
                    />
                ))}
            </div>
        ))
    }
</MainLayout>
